.divCarrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
    text-align: center;
}
.divCard{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
    text-align: center;
}
.divFormulario{
    border:4px solid black;
    margin: 2px;
    padding: 4px ;

}